
p.location-badge.
  exported from <a href='../change_detection'>angular2/change_detection</a>
  defined in <a href="https://github.com/angular/angular/tree/2.0.0-alpha.34/modules/angular2/src/change_detection/pipes/pipes.ts#L5-L84">angular2/src/change_detection/pipes/pipes.ts (line 5)</a>

:markdown
  
  

.l-main-section
  h2 Annotations
  .l-sub-section
    h3.annotation Injectable
    pre.prettyprint
      code.
        @Injectable()


  .l-sub-section
    h3.annotation CONST
    pre.prettyprint
      code.
        @CONST()


.l-main-section
  h2 Members
  .l-sub-section
    h3 constructor

    
    pre.prettyprint
      code.
        constructor(config: StringMap&lt;string, Type | Binding&gt;, injector: Injector)
    
    :markdown
      
      




  .l-sub-section
    h3 config

    
    :markdown
      Map of <a href='Pipe-interface.html'><code>Pipe</code></a> names to <a href='Pipe-interface.html'><code>Pipe</code></a> implementations.
      
      #Example
      
      ```
      var pipesConfig = {
        'json': JsonPipe
      }
      @Component({
        viewBindings: [
          bind(Pipes).toFactory(inj => new Pipes(pipesConfig, in), [Injector])
        ]
      })
      ```
      
      





  .l-sub-section
    h3 injector

    
    :markdown
      
      





  .l-sub-section
    h3 get

    
    pre.prettyprint
      code.
        get(type: string, cdRef: ChangeDetectorRef)
    
    :markdown
      
      




